<div appModalEditor
     [(snapshot)]="html"
     [type]="'html'"
     [content]="html"
     (change)="html = $event"
     title="Edit html!">
    {{html}}
</div>

<div appModalEditor
     [(snapshot)]="css"
     [type]="'css'"
     [content]="css"
     (change)="css = $event"
     title="Edit css!">
    {{css}}
</div>

<!--<div appModalEditor-->
<!--     [type]="'text'"-->
<!--     [content]="html"-->
<!--     (change)="html = $event"-->
<!--     title="Edit text!">-->
<!--    <div [innerHTML]="html"></div>-->
<!--</div>-->
