<div class="html-editor">
    <div class="html-editor-panel" [class.-source]="sourceCode">
        <select [(ngModel)]="selectedToken" (ngModelChange)="onTokenSelected($event)">
            <option [ngValue]="null" disabled>
                Select token
            </option>
            <option *ngFor="let token of tokens" [ngValue]="token.value">
                {{token.name}}
            </option>
        </select>
        <button style="margin-left: 10px" (click)="changeFormat()">
            Change format
        </button>
    </div>
    <div class="html-editor-container" [class.-source]="sourceCode">
        <quill-editor
                *ngIf="!sourceCode"
                [(ngModel)]="text"
                [trackChanges]="'all'"
                [sanitize]="true"
                [modules]="quillConfig"
                [styles]="{height: '200px'}"
                (onEditorCreated)="quillEditorCreated($event)">
        </quill-editor>
        <ngx-monaco-editor
                *ngIf="sourceCode"
                (onInit)="monacoEditorCreated($event)"
                [options]="monacoOptions"
                [(ngModel)]="text">
        </ngx-monaco-editor>
    </div>
</div>


