* {
    box-sizing: border-box;
}

.html-editor {
    position: relative;
}

.html-editor-panel {
    height: 42px;
    position: absolute;
    width: auto;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    padding: 8px;

    &.-source {
        position: static;
        border: 1px solid #ccc;
    }
}

.html-editor-container {
    height: 200px;

    &.-source {
        border: 1px solid #ccc;
        border-top: none;
    }
}
