<div class="edit-dialog">
    <div class="edit-dialog_header">
        <h1>
            {{config.title}}
        </h1>
    </div>
    <div [ngSwitch]="config.type">
        <div *ngSwitchCase="'html'">
            <ngx-monaco-editor
                    [options]="{language: 'html'}"
                    [(ngModel)]="config.content">
            </ngx-monaco-editor>
        </div>
        <div *ngSwitchCase="'css'">
            <ngx-monaco-editor
                    [options]="{language: 'css'}"
                    [(ngModel)]="config.content">
            </ngx-monaco-editor>
        </div>
        <div *ngSwitchCase="'text'">
            <app-html-editor [text]="config.content" (change)="config.content = $event">
            </app-html-editor>
        </div>
    </div>
    <div class="edit-dialog_footer">
        <button (click)="save()">
            Save
        </button>
    </div>
</div>
