.edit-dialog {
    &_header {
        position: absolute;
        transform: translate(0, -100px);
    }

    &_footer {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(0, 50px);
    }
}

