.uploader-panel{
    padding: 15px;
    border-top: none;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px 0 rgba(#000, 0.2);
}

ngx-dropzone-preview {
    padding: 0 !important;
    width: 120px !important;
    max-width: 120px !important;
    min-width: 120px !important;
    height: 120px !important;
    max-height: 120px !important;
    min-height: 120px !important;
}

ngx-dropzone-label {
    margin: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: center;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}


ngx-dropzone-remove-badge{
    z-index: 10 !important;
}
