<ngx-dropzone
        accept="image/png,image/gif,image/jpeg"
        [expandable]="true"
        (change)="onSelect($event)">
    <ngx-dropzone-label>Drop your images here</ngx-dropzone-label>
    <ngx-dropzone-preview
            *ngFor="let image of images"
            style="height: 170px"
            [removable]="true"
            (removed)="onRemove(image)">
        <ngx-dropzone-label [ngStyle]="{'background-image': 'url(' + image.base64 + ')'}">
        </ngx-dropzone-label>
    </ngx-dropzone-preview>
</ngx-dropzone>
<div class="uploader-panel" *ngIf="images.length">
    <span>
        {{images.length}} images to upload
    </span>
    <button (click)="onUpload()">
        upload
    </button>
</div>
