/* You can add global styles to this file, and also import other style files */
//@import "~quill/dist/quill.core.css";
//@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";

.ql-format:after {
    content: 'format';
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-pane {
    position: relative !important;
}

*[appModalEditor]{
    padding: 20px;
    border: 1px solid #cccccc;
    margin: 10px;

    &:hover{
        border-color: #a8a8a8;
    }
}
